<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/collors.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/films.css">
</head>
<body>
    <form class="login_container" method="post" action="/loginORM">
        <input type="text" class="input" name="username" placeholder="username"/>
        <input type="password" class="input" name="password" placeholder="password"/>
        <input class="button" type="submit" name="evaluate" value="login">
    </form>
    <span class="back_title">SQLiExample</span>
    <img class="back" src="resources/back.png" alt=""/>
</body>
</html>