<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="css/collors.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/films.css">
</head>
<body>
<form class="search_form" method="post" action="/login">
  <input type="text" class="input" name="search" placeholder="author name"/>
  <input class="button" type="submit" name="evaluate" value="search">
</form>
<span class="back_title">SQLiExample</span>
<img class="back" src="resources/back.png" alt=""/>
</body>
</html>